@page
@model MegansMatineeX.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.MovieID" class="control-label"></label>
                <input asp-for="Movie.MovieID" class="form-control" />
                <span asp-validation-for="Movie.MovieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Director" class="control-label"></label>
                <input asp-for="Movie.Director" class="form-control" />
                <span asp-validation-for="Movie.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.LeadAct" class="control-label"></label>
                <input asp-for="Movie.LeadAct" class="form-control" />
                <span asp-validation-for="Movie.LeadAct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.WhereToWatch" class="control-label"></label>
                <input asp-for="Movie.WhereToWatch" class="form-control" />
                <span asp-validation-for="Movie.WhereToWatch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <select asp-for="Movie.Genre" class="form-control" asp-items="Html.GetEnumSelectList<Models.GenreType>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rating" class="control-label"></label>
                <select asp-for="Movie.Rating" class="form-control" asp-items="Html.GetEnumSelectList<Models.RatingType>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Review" class="control-label"></label>
                <input asp-for="Movie.Review" class="form-control" />
                <span asp-validation-for="Movie.Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Production" class="control-label"></label>
                <select asp-for="Movie.ProductionID" class="form-control"
                        asp-items="@Model.ProductionNameSL">
                    <option value="">-- Select Department --</option>
                </select>
                <span asp-validation-for="Movie.ProductionID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
